


<h1> News </h1>

<p>
    “The U.S. House of Representatives recently passed a resolution opposing socialism in all its forms. The resolution was supported by all Republicans plus 109 Democrats. Interestingly enough, the resolution did not define “socialism” much less discuss what forms socialism might take. Instead, the resolution’s “whereas clauses” focused on the authoritarian type of socialism known as communism—complete with references to Lenin, Mao, and Castro.

The resolution probably failed to provide specifics about forms of
 socialism to avoid embarrassing Republicans who support policies that can fairly be described as “forms of socialism.” For example, legislation telling private social media companies how they should treat smaller businesses who use their platforms would definitely qualify as a “form of socialism.” After all, the tech companies are private businesses who own the platforms and should have the right to decide for themselves the terms under which they allow other businesses to use their platforms. Yet several representatives who just voted to condemn all forms of socialism are supporting legislation that would impose these socialistic 
regulations on private businesses.
</p>