

<h1> Data Management - Angular </h1>
<!-- 
<div class="developerInfo">
  <h2> Name : {{ firstName }} {{ lastName }}</h2>
  <h2> City : {{ city }} </h2>
  <h2> Salary : {{ salary }} </h2>
  <h2> Is permenant : {{ isPermenant }} </h2>
</div>

<hr/>

<ul>
  <li *ngFor="let f of friends"> {{ f }}</li>
</ul>
<button (click)="addNewFriend()">Add</button>
<hr/>

<ol>
  <li *ngFor="let t of technologyList"> {{ t }} </li>
</ol> -->


<h2> Project Details</h2>
<div>
  <h3>Project : {{ projectDetails.projectName }}</h3>
  <h3> Team Size : {{ projectDetails.projectStrength }}</h3>
  <h3> Revenue : {{ projectDetails.projectRevenue }} </h3>
  <h3> Is Live ? {{ projectDetails.projectIsLive }} </h3>
</div>



